# Make sure use Numpy 1
numpy==1.26.4

# For ComfyUI-Manager
matrix-client==0.4.0

# Fix for CRM V1
open-clip-torch==2.24.0

# Forcing version to prevent PIP re-installing
clip-interrogator==0.6.0
diffusers==0.29.1
torchvision==0.16.2
