accelerate
aiohttp
diffusers
einops
fairscale
ftfy
huggingface-hub[hf-transfer]
imageio
joblib
kornia
matplotlib
omegaconf
onnx
onnxruntime-gpu
opencv-contrib-python-headless
pandas
pilgram
pillow
psutil
pygit2
python-ffmpeg
pyyaml
regex
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
soundfile
spandrel
spconv-cu124
timm
tokenizers
torchmetrics
torchsde
tqdm
transformers
